<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      body {
        background-image: url("https://media1.giphy.com/media/XB3gaBJjllUtBnX8wS/200w.webp?cid=ecf05e47fu2mz2dzffbzjuzvwl9iawgnnqkhbl7381ol2n8t&rid=200w.webp&ct=g");
      }
    </style>
  </body>
</html>
